@import url(./font.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* Universal */
.site-main {
  position: relative;
  min-height: 100vh;
}

section {
  height: 100vh;
}

/*Nav*/

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: rgba(39, 39, 42, 0.43);
  border-bottom: 2px solid rgba(39, 39, 42, 0.5);
  backdrop-filter: blur(9.1px);
}

.main-menu .navbar-brand img {
  height: 4.5vh;
}
.main-menu .navbar .main-nav {
  text-align: center;
}

.main-menu .navbar .hamburger {
  position: relative;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 4.5px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-4px, -1.5px);
}

.main-menu .nav-item .nav-link {
  font: normal 500 18px/2px var(--nexa);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.main-menu .navbar-nav a.active {
  background: var(--gradient-color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-menu .navbar-nav a:hover {
  background: var(--gradient-color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: translateY(2px);
}

/*Nav End*/

/* parallax wallpaper*/

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 10;
  overflow-x: hidden;
}

.main-head {
  position: absolute;
}

#text,
.stroke {
  font-family: var(--nexa);
  display: inline-block;
  position: relative;
  font-size: 10vw;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 0.25vw whitesmoke;
  text-shadow: none;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 100vh;
  pointer-events: none;
  text-align: center;
}

/*parallax wallpaper end*/

/*aobut*/
.site-main .site-about {
  position: relative;
  background: linear-gradient(180deg, #070314, #0b0b0b 100%);
  z-index: 10;
}

.site-main .site-about .site-title h4 {
  color: var(--title-color);
  padding-top: 12rem;
  font-size: 1.5rem;
}

.site-main .site-about .site-title h6 {
  color: var(--title-color);
  font-size: 1rem;
}

.site-main .site-about .banner-image > img {
  position: relative;
  padding: 1rem 0;
  width: 80vw;
}

@media (max-width: 800px) {
  .site-main .site-about .banner-image > img {
    display: none;
  }
}

.site-main .site-about .site-title {
  height: 15rem;
}

.site-main .site-about .site-title h1 {
  height: 100%;
  margin-top: 5rem;
  padding-top: 2rem;
  font-size: 9vw;
  letter-spacing: 0.2rem;
  background: url(../img/title-scrolling.png) repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 150s linear infinite;
}

@keyframes animate {
  from {
    background-position: 0 0;
  }

  /*use negative width if you want it to flow right to left else and positive for left to right */
  to {
    background-position: -10000px 0;
  }
}

@media (max-width: 800px) {
  .site-main .site-about .site-title h4 {
    padding-top: 2rem;
    font-size: 0.9rem;
  }
  .site-main .site-about .site-title h6 {
    font-size: 0.9rem;
  }
  .site-main .site-about .banner-image > img {
    padding-top: 4rem;
  }
}

/*About end*/

/* Timeline */

.timeline-container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Timeline Section Style */
.site-timeline {
  font-family: var(--nexa);
  color: #ffffff;
  background-color: #0b0b0b;
  height: 100%;
}

.site-timeline .bg-black h1 {
  padding-top: 10vw;
  padding-bottom: 9vw;
  font: normal 7vw/60px var(--nexa);
  letter-spacing: 0.2rem;
  background: url(../img/title-scrolling.png) repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 150s linear infinite;
}

.site-timeline .bg-black{
  position: relative;
  background-color: #0b0b0b;
  z-index: 5;
}


@keyframes animate {
  from {
    background-position: 0 0;
  }

  /*use negative width if you want it to flow right to left else and positive for left to right */
  to {
    background-position: -10000px 0;
  }
}

.timeline-container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Timeline Section Style */
.timeline {
  position: relative;
  z-index: 0;
}

.timeline__progressbar {
  --width: 2px;
  --left: -moz-calc(((15vw / 2) + 15px) - (var(--width) / 2));
  --left: calc(((15vw / 2) + 15px) - (var(--width) / 2));
  position: absolute;
  left: var(--left);
  width: var(--width);
  height: 100%;
  background-color: #2c2c2c;
}

.timeline__progressbar::after {
  content: "";
  position: fixed;
  top: 0;
  left: var(--left);
  width: var(--width);
  height: 50vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#b25d46),
    color-stop(#a74141),
    color-stop(#743879),
    to(#4a3ca0)
  );
  background: -webkit-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  background: -moz-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  background: -o-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  background: linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
}

@media screen and (min-width: 800px) {
  .timeline__progressbar {
    --width: 3px;
    --left: -moz-calc(50% - (var(--width) / 2));
    --left: calc(50% - (var(--width) / 2));
  }
}

.timeline__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15vw 1fr;
  grid-template-columns: 15vw 1fr;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

@media screen and (min-width: 800px) {
  .timeline__block {
    -ms-grid-columns: 1fr 15vh 1fr;
    grid-template-columns: 1fr 15vh 1fr;
  }
}

@media screen and (min-width: 800px) {
  .timeline__block__head {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top: 50vh;
  }
}

.timeline__block__body {
  grid-column: 2 / -1;
}

@media screen and (min-width: 800px) {
  .timeline__block__body {
    grid-column: 3 / -1;
  }
}

.timeline__block__bullet-point {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .timeline__block__bullet-point {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.timeline__block__circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 4px solid #0b0b0b;
  background-color: #ffffff;
  border-radius: 50%;
}

.timeline__block__title {
  font-size: 1.5rem;
}

@media screen and (max-width: 799px) {
  .timeline__block__title {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .timeline__block__title {
    line-height: 0;
  }
}

.timeline__block__text {
  font-size: 0.9rem;
}

@media screen and (min-width: 500px) {
  .timeline__block__text {
    font-size: 1.5rem;
  }
}

.timeline__hider {
  position: -webkit-sticky;
  position: sticky;
  bottom: -2px;
  width: 100%;
  height: 30vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(#0b0b0b)
  );
  background: -webkit-linear-gradient(transparent, #0b0b0b);
  background: -moz-linear-gradient(transparent, #0b0b0b);
  background: -o-linear-gradient(transparent, #0b0b0b);
  background: linear-gradient(transparent, #0b0b0b);
  pointer-events: none;
}

/* Timeline end */


/* Sponsers */

.site-sponsers{
  position: relative;
  background-color: #0b0b0b;
  height: 100%;
  overflow-x: hidden;
}

.site-sponsers div > h1{
  padding-top: 5vw;
  padding-bottom: 9vw;
  font: normal 7vw/60px var(--nexa);
  letter-spacing: 0.2rem;
  background: url(../img/title-scrolling.png) repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 150s linear infinite;
}

@keyframes animate {
  from {
    background-position: 0 0;
  }

  /*use negative width if you want it to flow right to left else and positive for left to right */
  to {
    background-position: -10000px 0;
  }
}
.site-sponsers .sponsers-slider{
  position: relative;
  display: flex;
  align-items: center;
  background:linear-gradient(180deg #0b0b0b,#000 100%);
  width: 400vw;
  height: 100vh;
}

.site-sponsers .sponsers-slider span{
  position: relative;
  display: inline-block;
  font: normal 13vw var(--nexa);
  color: whitesmoke;
  padding: 0 150px;
}

/* Sponsers End*/



/* footer */

.site-main .footer {
  background-color: #000;
  color: rgb(194, 194, 194);
  height: 100%;
  padding: 40px 0px;
  font-family: var(--inter);
  font-style: normal;
  font-size: 1.2rem;
}

/* footer end*/
